// ==== CONTACT ==== //

/* Style the contact button and box. */

/**
 * 1. Button
 * 2. Box
 */


.contact-outer {
  position: fixed;
  width: 100%;
  bottom: vr(.75);
  z-index: 999999;
  pointer-events: none;
  text-align: right;
}

.contact-inner {
  @include ctnr(wide);

  position: relative;
}


// 1. Button //

.contact-button {
  pointer-events: all;
  box-shadow: 0px 2px 12px -2px palette(gray, light);
  color: palette(gray);
  outline: none;
  width: vr(2);
  height: vr(2);
  border: 2px solid palette(white);
  border-radius: 50%;
  background-color: palette(pink);
  background-image: linear-gradient(135deg, palette(purple), palette(pink));
  cursor: pointer;
  transition: transform $anim-s;

  svg {
    width: 24px;
    height: 24px;
    fill: palette(white);
    vertical-align: middle;
  }
}

/* Open state */

.contact-inner.-open {
  .contact-button {
    transform: rotate(45deg);
  }
  .contact-box {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
}


// 2. Box //

.contact-box {
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transform: translate(0, 5px);
  padding: vr(.5) vr(.75);
  position: absolute;
  background-color: palette(white);
  box-shadow: 0px 2px 12px -2px palette(gray, light);
  border-radius: vr(.25);
  right: 0;
  bottom: calc( 100% + #{vr(.5)} );
  transition: $anim-s;
}

.contact-headline {
  @include font(header3);

  color: palette(blue);
}

.contact-link {
  @include font(button);
  @include link-arrow(right, purple);
}
