// ==== MENUS ==== //

/**
 * 1. Header
 * 2. Social
 * 3. Footer
 */


// 1. Header //

#menu-primary-menu {
	position: relative;
	text-align: center;

	& > .menu-item {
		margin: 0;
		padding: 0 vr(0.5);
		list-style-type: none;
		display: inline-block;
		height: 100%;
		position: relative;
		cursor: pointer;
	}

	& > .menu-item > a {
		@include font(small);
		@include link-underline(purple);

		color: palette(gray, dark);
	}

	.menu-item:hover > a:after,
	.menu-item:focus > a:after,
	.menu-item.current-menu-item > a:after {
		visibility: visible;
		opacity: 1;
		transform: translate(0px,-2px);
	}

	.sub-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 100;
		min-width: 100%;
		padding-top: vr(.25);
		background-color: palette(white);
		visibility: hidden;
	    transform: translate(0px,4px);
	    opacity: 0;
	    transition: visibility $anim-s, opacity $anim-s, transform $anim-s;

		.menu-item {
			@include font(small);

			/* Fixes weird change in font-weight on hover in Safari. */
			-webkit-font-smoothing: antialiased;
			text-align: left;
			white-space: nowrap;
			padding: 0 vr(0.5) vr(0.25);
			background-color: palette(white);
			box-shadow: 0px 4px 8px -2px palette(gray, light);
			width: 100%;
			transition: color #anim-s;

			&:after {
				content: '→';
				color: inherit;
				display: inline-block;
				opacity: 0;
				visibility: hidden;
				transform: translate(0, 0);
				transition: visibility $anim-s, opacity $anim-s, transform $anim-s;
			}

			&:hover,
			&:focus {
				color: palette(purple, light);
			}

			&:hover:after,
			&:focus:after {
				visibility: visible;
    			opacity: 1;
				transform: translate(0.35rem, 0);
			}
		}
	}

	& > .menu-item:hover > .sub-menu {
		visibility: visible;
	    opacity: 1;
	    transform: translate(0px,0px)
	}
}

#menu-item-search {
	a:before {
		@include font(small);

		content: '\73';
		display: inline-block;
		font-family: 'uwc-website' !important;
		font-style: normal !important;
		font-weight: normal !important;
		font-variant: normal !important;
		text-transform: none !important;
		speak: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transition: color $anim-s;
	}

	a:hover:before,
	a:focus:before {
		color: palette(purple);
	}
}



// 2. Social //

/**
 * Social icons displayed in the navigation bar.
 * A normal WordPress menu with custom links can be used to display the icons.
 * The trick are the CSS attribute selectors that check for the domain.
 * Inspired by http://justintadlock.com/archives/2013/08/14/social-nav-menus-part-2
 */
#menu-social {
	list-style: none;
	text-align: right;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		position: relative;
	}

	a {
		margin-left: vr(0.5);
		opacity: 1;
		transition: opacity $anim-s;

		&:hover,
		&:focus {
			opacity: 0.8;
		}

		&:before {
			content: '\64';
			display: inline-block;
			color: palette(gray);
			font-family: 'uwc-website' !important;
			vertical-align: top;
			font-style: normal !important;
			font-weight: normal !important;
			font-variant: normal !important;
			text-transform: none !important;
			font-size: ms(0);
			speak: none;
			line-height: 1.5;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transition: color $anim-s;
		}
		&[href*="wordpress"],
		&[href*="wordpress"] {
			&:before {
				content: '\63';
			}

			&:focus:before,
			&:hover:before {
				color:   #1e8cbe;
			}			
		}
		&[href*="facebook"] {
			&:before {
				content: '\68';
			}

			&:focus:before,
			&:hover:before {
				color:   #3b5998;
			}			
		}
		&[href*="twitter"] {
			&:before {
				content: '\69';
			}

			&:focus:before,
			&:hover:before {
				color:   #55acee;
			}			
		}
		&[href*="plus.google"] {
			&:before {
				content: '\61';
			}

			&:focus:before,
			&:hover:before {
				color:   #dc4e41;
			}			
		}
		&[href*="pinterest"] {
			&:before {
				content: '\71';
			}

			&:focus:before,
			&:hover:before {
				color:   #bd081c;
			}			
		}
		&[href*="github"] {
			&:before {
				content: '\70';
			}

			&:focus:before,
			&:hover:before {
				color:   #333333;
			}			
		}
		&[href*="tumblr"] {
			&:before {
				content: '\6d';
			}

			&:focus:before,
			&:hover:before {
				color:   #35465c;
			}			
		}
		&[href*="youtube"] {
			&:before {
				content: '\6a';
			}

			&:focus:before,
			&:hover:before {
				color:   #cd201f;
			}			
		}
		&[href*="flickr"] {
			&:before {
				content: '\72';
			}

			&:focus:before,
			&:hover:before {
				color:   #ff0084;
			}			
		}
		&[href*="vimeo"] {
			&:before {
				content: '\6c';
			}

			&:focus:before,
			&:hover:before {
				color:   #1ab7ea;
			}			
		}
		&[href*="instagram"] {
			&:before {
				content: '\6b';
			}

			&:focus:before,
			&:hover:before {
				color:   #3f729b;
			}			
		}
		&[href*="linkedin"] {
			&:before {
				content: '\67';
			}

			&:focus:before,
			&:hover:before {
				color:   #0077b5;
			}			
		}
		&[href^="mailto:"] {
			&:before {
				content: '\6f';
			}

			&:focus:before,
			&:hover:before {
				color:   #ffa930;
			}			
		}
	}
}
