// ==== FORMS ==== //

/* Style the various button types here. */

@mixin btn($type: none, $color: none) {
	@if $type == null {
	    @warn "Mixin btn() received no input! Please provide a type.";
	    font-size: ms(10);
	    color: blue;
	}
	@else if $type == 'block' and $color == 'image' {
		@include font(button);
		display: inline-block;
		outline: none;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 0.12rem;
		padding: .3rem .9rem;
		color: palette(white);
		border: 2px solid palette(white);
		background-color: palette(pink);
		transition: color $anim-s, background-color $anim-s;
		&:hover,
		&:focus,
		&:active {
			color: palette(pink);
			background-color: palette(white);
			cursor: pointer;
		}
	}
	@else if $type == 'block' {
		@include font(button);
		display: inline-block;
		outline: none;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 0.12rem;
		padding: .3rem .9rem;
		color: palette(white);
		border: 2px solid palette(pink);
		background-color: palette(pink);
		transition: color $anim-s, background-color $anim-s;
		&:hover,
		&:focus,
		&:active {
			color: palette(pink);
			background-color: palette(white);
			cursor: pointer;
		}
	}
	@else if $type == 'text' {
		@include font(button);
		@include gradient-underline(0deg, $color, palette($color, light));
		letter-spacing: 0.02rem;
		cursor: pointer;
	}
	@else {
		@warn "Mixin btn() received invalid input!" $type, $color;
		font-size: ms(10);
		color: blue;
	}
}