// ==== CONFIGURATION ==== //

/* Set all configuration variables here. */

/* 
 * 1. Breakpoints
 * 2. Typography
 * 3. Colors
 * 4. Metadata
 */



 // 1. Breakpoints //

$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 1024px,
);

/* You can use any valid arguments inserted into mappy-bp as the map values. Any of the following would do. */
$mappy-queries: (
  phone: mappy-bp(max-width small),
  tablet: mappy-bp(small medium),
  desktop: mappy-bp(medium),
);



// 2. Typography //

$sans: 'Bliss', 'Cabin', 'Freight Sans Pro', Helvetica, sans-serif;
$sans-normal: 300;
$sans-medium: 400;
$sans-bold:   700;

$ms-base: 1rem;
$ms-ratio: 1.2;

$typi: (
  null: (16px, 1.4),
  medium: (21px, 1.5),
);



// 3. Colors //

$base-blue: #1366A9;      /* #0064A6 */
$base-turquoise: #21A7AC; /* #009B90 */
$base-purple: #741868;    /* #741669 */
$base-pink: #AC1743;      /* #AD1644 */
$base-orange: #E06f3B;    /* #DE6328 */

$factor-lighten: 8%;
$factor-darken: 8%;

/*
 * Sass map for the color palette; see `_library.scss` for the palette() function. 
 */
$_palettes: (
    blue: (
        base:  $base-blue,
        light: lighten($base-blue, $factor-lighten),
        dark:  darken($base-blue, $factor-darken)
    ),
    turquoise: (
        base:  $base-turquoise,
        light: lighten($base-turquoise, $factor-lighten),
        dark:  darken($base-turquoise, $factor-darken)
    ),
    purple: (
        base:  $base-purple,
        light: lighten($base-purple, $factor-lighten),
        dark:  darken($base-purple, $factor-darken)
    ),
    pink: (
        base:  $base-pink,
        light: lighten($base-pink, $factor-lighten),
        dark:  darken($base-pink, $factor-darken)
    ),
    orange: (
        base:  $base-orange,
        light: lighten($base-orange, $factor-lighten),
        dark:  darken($base-orange, $factor-darken)
    ),
    gray: (
        base:    #717073,
        lighter: #F5F5F5,
        light:   #D6D6D7,
        dark:    #515152,
        darker:  #333234
    )
);



// 4. Metadata //

/* 
 * Sass map for the metadata.
 * See `_library.scss` for the metadata() function. 
 */
$_metadata: (
  theme-name:               "NC Template",
  theme-uri:                "https://github.com/uwc/nc-template",
  theme-author:             "Connor Bär",
  theme-author-uri:         "http://connorbaer.io",
  theme-description:        "A template for UWC national committee websites. Please request permission before use.",
  theme-version:            "0.6.1-alpha",
  theme-license:            "MIT",
  theme-license-uri:        "https://opensource.org/licenses/MIT",
  theme-tags:               (custom-menu, editor-style, featured-image-header, featured-images, post-formats, sticky-post, theme-options, education, translation-ready),
  theme-text-domain:        "nc-template",
  theme-text-domain-path:   "/languages/",
  github-theme-uri:         "https://github.com/uwc/nc-template",
  github-branch:            "master"
);