// ==== CONFIGURATION ==== //

/* Set all configuration variables here. */

/* 
 * 1. Breakpoints
 * 2. Typography
 * 3. Colors
 * 4. Metadata
 */



 // 1. Breakpoints //

$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 1024px,
);

/* You can use and valid arguments inserted into mappy-bp as the map values. Any of the following would do. */
$mappy-queries: (
  phone: mappy-bp(h max-height small),
  tablet: mappy-bp(small large),
  desktop: mappy-bp(960px 1200px),
  change-type: mappy-bp(small, $type: screen),
);



// 2. Typography //

$sans: 'Bliss', 'Freight Sans Pro', 'PT Sans', Helvetica, sans-serif;
$sans-normal: 400;
$sans-bold:   700;

$ms-base: 1em, 1.25em;
$ms-ratio: 1.5;

$typi: (
  null: (16px, 1.4),
  /*small: 16px,*/
  medium: 18px,
  large: (20px, 1.5),
);



// 3. Colors //

$base-blue: #0064A6;
$base-turquoise: #009B90;
$base-purple: #741669;
$base-pink: #AD1644;
$base-orange: #DE6328;
$base-gray: #717073;

$factor-lighten: 8%;
$factor-darken: 8%;

/*
 * Sass map for the color palette; see `_library.scss` for the palette() function. 
 */
$_palettes: (
    blue: (
        base:   $base-blue,
        light:  lighten($base-blue, $factor-lighten),
        dark:   darken($base-blue, $factor-darken)
    ),
    turquoise: (
        base:  $base-turquoise,
        light:  lighten($base-turquoise, $factor-lighten),
        dark:   darken($base-turquoise, $factor-darken)
    ),
    purple: (
        base:  $base-purple,
        light:  lighten($base-purple, $factor-lighten),
        dark:   darken($base-purple, $factor-darken)
    ),
    pink: (
        base:  $base-pink,
        light:  lighten($base-pink, $factor-lighten),
        dark:   darken($base-pink, $factor-darken)
    ),
    orange: (
        base:  $base-orange,
        light:  lighten($base-orange, $factor-lighten),
        dark:   darken($base-orange, $factor-darken)
    ),
    gray: (
        base:  $base-gray,
        x-light:  lighten($base-gray, 28%),
        light:  lighten($base-gray, 14%),
        dark:   darken($base-gray, 14%),
        x-dark:   darken($base-gray, 28%)
    )
);



// 4. Metadata //

/* 
 * Sass map for the metadata.
 * See `_library.scss` for the metadata() function. 
 */
$_metadata: (
  theme-name:               "NC Template",
  theme-uri:                "https://github.com/uwc/nc-template",
  theme-author:             "Connor Bär",
  theme-author-uri:         "http://connorbaer.io",
  theme-description:        "A template for UWC national committee websites. Please request permission before use.",
  theme-version:            "0.6.1-alpha",
  theme-license:            "MIT",
  theme-license-uri:        "https://opensource.org/licenses/MIT",
  theme-tags:               (custom-menu, editor-style, featured-image-header, featured-images, post-formats, sticky-post, theme-options, education, translation-ready),
  theme-text-domain:        "nc-template",
  theme-text-domain-path:   "/languages/",
  github-theme-uri:         "https://github.com/uwc/nc-template",
  github-branch:            "master"
);