// ==== LAYOUT ==== //

// These wrappers allow for backgrounds and layout options to be defined for each of the four sections (header, content, sidebar, and footer)


.wrap-header {
  background: color(blue);
  padding-bottom: spacer(2);
  padding-top: spacer(2);
}

.wrap-content {
  padding: spacer();
}
.wrap-sidebar {
  padding: spacer();
}
.wrap-footer {
  background: color(blue);
  padding-bottom: spacer(2);
  padding-top: spacer(2);
}
.site-title {
  margin-top: 0;
}
.site-navigation {
  display: none;
  &.active {
    display: block;
  }
}
