// ==== MENUS ==== //

// Inline menu; used in header and footer navigation
.menu-inline {
  &, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & > li {
      float: left;
      margin-right: rem(8);
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

// Menu toggle for mobile phones and small screens
#responsive-menu-toggle {
  @include media($break-medium, null) {
    display: none;
  }
}
