// ==== NAVIGATION ==== //


/**
 * 1. Main navigation
 */


// 1. Main navigation //

/* Styles the top navigation bar. */
#navigation {
  @include gradient-border(90deg, palette(blue, light), palette(turquoise, light));
  border-bottom: $border-grey;
}

.navigation-ctnr {
  @include ctnr(wide);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-around;
  padding-top: vr(0.125);
  padding-bottom: vr(0.125);
  height: 100px;
}

.navigation-logo {
  flex: 1 0 auto;
  .custom-logo {
    max-width: 85vw;
    height: auto;
    object-fit: contain;
    vertical-align: middle;
  }
}

.navigation-social {
  flex: 1 0 auto;
}

.navigation-search {
  display: none;
}

.navigation-main {
  flex: 1 1 100%;
}

/* ----- */

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

#menu-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  user-select: none;
  display: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
