// ==== SEARCH ==== //

/* Style the search form and search results here. */

/**
 * 1. Search Form
 * 2. Search Results
 */


 // 1. Search Form //

.search-form {
	label {
		position: relative;
		&:before {
			content: '\73';
			display: inline-block;
			position: absolute;
			padding: vr(0.5) vr(0.75);
			font-family: 'nc-template' !important;
			font-style: normal !important;
			font-weight: normal !important;
			font-variant: normal !important;
			text-transform: none !important;
			speak: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	.search-field {
		@include inputs;
		padding-left: vr(1.75);
	}
}


// 2. Search Results //

.search-header {
	margin-top: vr(2);
	@include ctnr(golden);
	.search-wrapper {
		margin-bottom: vr(1.5);		
	}
	.search-title {
		@include font(small);
	}
}

.search-result {
	@include card();
	@include ctnr(golden);
	margin-top: vr(0.5);
	margin-bottom: vr(0.75);
	.result-header {
		@include font(header3);
		@include link-underline(blue);
	}
	.result-link {
		@include font(small);
		color: palette(turquoise);
	}
}
