// ==== TYPOGRAPHY ==== //

/* 
 * The font() function accepts a style parameter.
 * It is intended to promote consistency in the typography, 
 * therefore the number of styles should be kept to a minimum.
 * Attributes which change between instances should not be defined here (e.g. color). 
 */
@mixin font($style: null) {
  @if $style == null {
    @warn "Mixin font() received no input! Please provide a style.";
    font-size: ms(10);
    color: red;
  }
  @else if $style == 'title' {
    font-weight: $sans-bold;
    font-size: ms(6);
  }
  @else if $style == 'header1' {
    font-weight: $sans-bold;
    font-size: ms(4);
  }
  @else if $style == 'header2' {
    font-weight: $sans-medium;
    font-size: ms(3);
  }
  @else if $style == 'header3' {
    font-weight: $sans-medium;
    font-size: ms(2);
  }
  @else if $style == 'header4' {
    font-weight: $sans-bold;
    font-size: ms(1);
  }
  @else if $style == 'large' {
    font-size: ms(1);
    font-weight: $sans-medium;
  }
  @else if $style == 'body' {
    font-size: ms(0);
  }
  @else if $style == 'small' {
    font-weight: $sans-medium;
    font-size: ms(-1);
  }
  @else if $style == 'button' {
    font-weight: $sans-bold;
    font-size: ms(-1);
  }
  @else if $style == 'navigation' {
    font-size: ms(-1);
    color: palette(gray, dark);
    font-weight: $sans-medium;
    letter-spacing: 0.015rem;
  }
  @else {
    @warn "Mixin font() received invalid input! This style does not exist.";
    font-size: ms(10);
    color: red;
  }
}


/* Headings, body text, lists, and other misc typographic elements. */


a {
  border: 0;
  color: orange;
  text-decoration: none;
}

strong,
.strong {
  font-weight: $sans-bold;
}

dfn,
i,
em,
.em {
  font-style: italic;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: 'Courier New', Courier, monospace;
}

pre {
  border: 1px solid palette(gray, light);
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125;
  margin: 0 0 1.75em;
  max-width: 100%;
  overflow: auto;
  padding: 1.75em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  background-color: palette(gray, light);
  padding: 0.125em 0.25em;
}

abbr,
acronym {
  border-bottom: 1px dotted palette(gray, light);
  cursor: help;
}

mark,
ins {
  background: palette(blue, light);
  color: #fff;
  padding: 0.125em 0.25em;
  text-decoration: none;
}

big {
  font-size: 125%;
}

hr {
  background-color: palette(gray, light);
  border: 0;
  height: 1px;
  margin: 0 0 vr(1);
}

/*
h1, h2, h3, h5, h6 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  line-height: 1.25;
  font-family: $sans;
  font-weight: $sans-bold;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $serif;
  font-size: 1.0625rem;
  line-height: 1.75;
  font-weight: $serif-normal;
}

.caps:before { 
  float: left; 
  color: $primary-4; 
  font-size: 4.4rem; 
  line-height: 1; 
  padding: 0 0.5rem 0 0.25rem; 
  font-family: $serif;
  content: attr(alt);
}

a.link {
  font-size: 1.0625rem;
  font-family: $sans;
  font-weight: $sans-normal;  
}

.post a, a.link {
  color: $secondary-7;
  position: relative;
  z-index: 1;
  strong {
    color: inherit;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $secondary-7;
    visibility: hidden;
    transform: translate(0px,2px);
    opacity: 0;
    backface-visibility: hidden;
    transition: all .15s ease-in-out;
  }
  &:hover:before,
  &:focus:before {
    visibility: visible;
    opacity: 1;
    transform: translate(0px,0);
  }
} */